.chat-main  {
  width: calc(100vw - 300px);
  height: 100vh;
  .main-header  {
    height: 100px;
    border-bottom: 1px solid #eeeeee;
    padding: 0 40px;
    &__left-box {
      padding-top: 35px;
      &__current-group  {
        font-size: 20px;
        color: #333333;
        padding-bottom: 15px;
      }
      &__member-list  {
        font-size: 12px;
        color: #999999;
        display: flex;
        &__member {
          padding-left: 5px;
        }
      }
    }
    &__edit-btn {
      position: absolute;
      right: 40px;
      margin-top: 28px;
      padding: 0 20px;
      height: 40px;
      line-height: 40px;
      border: solid 1px #38aef0;
      color: #38aef0;
      top: 30px;
    }
  }
  .messages {
    padding: 46px 40px 0 ;
    background-color: #fafafa;
    height: calc(100vh - 246px);
    .message  {
      padding-bottom: 40px;
      &__upper-box  {
        display: flex;
        align-items: center;
        &__talker {
          font-weight: bold;
          color: #434A54;
          font-size: 16px;
        }
        &__date {
          color: #999999;
          font-size: 12px;
          padding-left: 10px;
        }
      }
      &__text {
      color: #434A54;
      font-size: 14px;
      }
    }
  }
  .form {
    background-color: #C0C0C0;
    height: 100px;
    padding: 0 40px;
    form {
      display: flex;
      justify-content: space-between;
      .input-box  {
        display: flex;
        align-items: center;
        padding: 25px 10px ;
        margin: 0 115px 0 0;
        position: relative;
        width: 100%;
        &__text {
          font-size: 16px;
          color: #434A54;
          height: 50px;
          width: 100%;
          border-style: none;
          padding: 0 10px;
        }
        &__image  {
          position: absolute;
          right: 20px; 
          align-items: center;
          cursor: pointer; 
          display: inline-block;
          i  {
            color: black;
            vertical-align: bottom;
          }
          &__file {
            display: none;
          }
        }      
      }
      .submit-btn {
        position: absolute;
        right: 0px;
        background-color: #38AEF0;
        color: white;
        margin: 25px 40px 25px 15px;
        height: 50px;
        width: 100px;
        line-height: 50px;
        text-align: center;
      }
    }
  }
}